# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
LICENSE
UPGRADE-2.2.md
UPGRADE.md
composer.lock
deps.lock