{% extends "BankoCompteBundle::layout.html.twig" %}
 
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block banko_body %}
 
  <h2><a href="{{ path('banko_home') }}">Liste des comptes</a></li></h2>
 
  <ul>
    {% for compte in liste_comptes %}
      <li>
        <a href="{{ path('banko_voir', {'id': compte.id}) }}">{{ compte.nom }}</a>
      </li>
    {% else %}
      <li>Pas (encore !) de compte</li>
    {% endfor %}
  </ul>
 
{% endblock %}